@import url('./style.css');

.border{
  border: 20px solid black !important;
}

.header{
  font-size: 1.5rem;
  background: var(--color-tertiary);
}

.header-logo a img{
  padding-left: 4rem;
  width: 20rem;
  height: 5rem;
}

.header-navbar{
  display: flex;
  justify-content: end;
  padding-right: 5rem;
}

.header-navbar a{
  color: var(--color-light);
  margin: 0 0.25em;
}

.header-banner img{
  height: 30vh;
  width: 100vw;
  object-fit: cover;
}

.main-item {
  align-items: center;
  display: flex;
  font-family: var(--text-secondary);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1rem;
}

.main-item__content {
  height: 50%;
  padding: 1em;
}
.main-item__container-img{
  max-height: 25em;
  max-width: 25em;
  width: 75%;
}
.main-item__img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.main-item__title{
  padding: 0.5em 0;
}
.main-item__paragraph{
  border-bottom: 1px solid var(--color-primary);
  padding: 0.5em 0;
}
.main-item__button{
  background-color: var(--color-tertiary);
  border-radius: 2em;
  color: var(--color-light);
  margin-top: 1em;
  padding: 1em 2em;
}